.ao-flex {
    display: flex;

    &-column {
        flex-direction: column;
    }
}

.ao-align {

    &-center {
        align-items: center;
    }

    &-left {
        align-items: flex-start;
    }
    
}

.ao-justify {
    &-center {
        justify-content: center;
    }
}

.ao-width {
    &-50 {
        width: 50%;
    }
}

.ao-height {
    &-100 {
        height: 100%;
    }
}